<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
<hr>
<% @posts.each do |post| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to ProfFilter.runCheck(post.title), post_path(post) %></h5>
      <p class="card-text"><%= truncate(ProfFilter.runCheck(post.body), length: 60) %></p>
      <p class="card-text"><%= "Up votes: #{post.up_votes}" %></p>
      <p class="card-text"><%= "Down votes: #{post.down_votes}" %></p>
      <p class="card-text"><%= "Post date: #{post.send_date}" %></p>
      <%= link_to 'Edit', edit_post_path(post), class: 'card-link' %>
    </div>
  </div>
<% end %>