<%= javascript_include_tag 'post', 'data-turbolinks-track': 'reload' %>
<div class="row">
  <%= render "apis/news" %>
  <div class="card my-5 col-8 ">
    <div class="card-body">
      <h1 class="text-center"><%= ProfFilter.runCheck(@post.title) %></h1>
      <hr >
      <p class="card-text" style="font-weight: bold;"><%= "Poster: #{@post.poster}" %></p>
      <p class="card-text"><%= simple_format(ProfFilter.runCheck(@post.body)) %></p>
      <p class="card-text" style="font-size: small;"> <%= "Up votes: #{@post.get_upvotes.size}" %></p>
      <p class="card-text" style="font-size: small;"><%= "Down votes: #{@post.get_downvotes.size}" %></p>
      <p class="card-text" style="font-size: small;"><%= "Post date: #{@post.send_date}" %></p>
      <% if user_signed_in? %>
        <%= link_to 'Up Vote Post', like_post_path(@post), class: 'btn btn-info mr-2' %>
        <%= link_to 'Down Vote Post', unlike_post_path(@post), class: 'btn btn-danger mr-2' %>
      <% end %>
      <%= link_to 'Back', posts_path, class: 'btn btn-light' %>
    </div>
    <div class="card my-1">
      <div class="card-body">
        <p class="font-weight-bold">Comments</p>
        <%= form_with(model: [@post, @post.comments.build]) do |f| %>
          <div class="form-group">
            <%= f.label 'New comment' %>
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <%= render @post.comments %>
  </div>
</div>